# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://imbfskqdhipzarlnuzdq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# Cloudflare R2
R2_ACCESS_KEY_ID=your_access_key_id_here
R2_SECRET_ACCESS_KEY=your_secret_access_key_here
R2_ENDPOINT=https://285b7d35d8ce2d109ec562738493d9c0.r2.cloudflarestorage.com
R2_BUCKET_NAME=millenniumfilm-storage

# Admin password (придумайте свій)
ADMIN_PASSWORD=your_strong_password_here
